/* kontakt */
.contact-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* card | formular */
  gap: 2rem;
  align-items: start;
}

/* Card */
.contact-card {
  /* background-color: rgb(74, 47, 27); */
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
}

/* Image */
.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  height: 300px;
  object-fit: contain;
  border-radius: 0.375rem;
  filter: grayscale(100%);
}

/* Info */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-size: 1rem;
  font-weight: bold;
}

.job,
.info {
  font-size: 0.875rem;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-form label {
  font-weight: bold;
}

.contact-form select,
.contact-form input,
.contact-form textarea {
  padding: 0.7rem;
  font-size: 1rem;

}

.contact-form button {
  padding: 10px 20px;
  background: rgb(74, 47, 27);
  border: none;
  border-radius: 6px;
  color: rgb(245, 230, 200);
  cursor: pointer;
  font-weight: bold;
  transition: background 0.25s ease;
}

.contact-form button:hover {
  background: #0d915a;
  color: white;
}


@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

/* kontakt slut */