/* Links behaviour */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkgray;
  background-color: transparent;
}

a:active {
  color: darkgray;
  background-color: transparent;
  text-decoration: underline offset 3px;
}

a:visited {
  color: brown;
  background-color: transparent;
  text-decoration: none;
}

/* Links behaviour END*/

/* */
/* Navigation container */
.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 10px 30px;
}

/* Nav wrapper */
nav {
  position: relative;
}

/* Samler Hamburger og brand */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Navigation border */
.navbar-border {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

/* Hamburger menu */
.hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  background: none;
  border: none;
  color: #000;

  padding: 0;
  line-height: 1;

  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* Brand-navnet */
.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: bold normal 18px Verdana, Arial, Helvetica, sans-serif;
  color: #000;
}

/* Kontakt link i højre side */
.contact a {
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 3px;
}

/* Undermenu container */
.links-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(74, 47, 27);
  overflow: hidden;

  max-height: 0;
  opacity: 80;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 10;

  font-family: Arial, Helvetica, sans-serif;
}

/* Når hamburger er åben */
.nav-container.open+.navbar-border+.links-container {
  max-height: 300px;
  opacity: 0.97;
  pointer-events: auto;
  padding: 20px 0;
}

/* GRID */
.nav-grid {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 56px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

/* Links */
.nav-grid a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-grid a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-container {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
  }
}