body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #f4f6f8;
    color: #1f2933;
}

/* ---------------------------------------------------------------------------------------------- */
.hero-image {
    height: 66dvh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("images/globally.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-tekst {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
}

/* ---------------------------------------------------------------------------------------------- */

/* GRID WRAPPER TIL CARDS */

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 kolonner desktop */
    gap: 30px;
    padding: 30px;
}

/* GRID ITEMS (CARDS) */
.grid-item {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


/* TEKST + KNAP */
.grid-item h2 {
    margin: 15px;
    font-size: 1.3rem;
}

.grid-item p {
    margin: 0 15px 20px 15px;
    line-height: 1.6;
    white-space: pre-line;
}

.card-btn {
    margin: 0 15px 20px 15px;
    padding: 10px 20px;
    background: rgb(245, 230, 200);
    ;
    border: none;
    border-radius: 6px;
    color: rgb(74, 47, 27);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.25s ease;
}

.card-btn:hover {
    background: #0d915a;
    color: white;
}

/* ---------------------------------------------------------------------------------------------- */

/* FOOTER */
footer {
    background-color: rgb(74, 47, 27);
    color: rgb(245, 230, 200);
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.9rem;
}

.footer p {
    margin: 5px 0 0 0;
}

.portrait {
    margin-top: 10px;
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}


/* iPad / Tablet 600px – 900px */
@media (min-width: 600px) and (max-width: 900px) {
    .navbar {
        padding: 1rem 1.5rem;
    }

    /* Titel i venstre side – Home + Social til højre */
    #brand {
        flex: 0 0 40%;
        text-align: left;
    }

    .nav-center {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
    }

    .nav-right {
        flex: 0 0 30%;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolonner tablet */
    }

    .hero-tekst {
        font-size: 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
}


/* Mobil < 600px */
@media (max-width: 600px) {

    #brand,
    .nav-center,
    .nav-right {
        flex: 1 1 100%;
        justify-content: center;
        text-align: center;
    }

    .nav-right {
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
    }

    .grid-wrapper {
        grid-template-columns: 1fr;
    }

    .hero-image {
        height: 45vh;
        height: 45dvh;
    }


    .hero-tekst {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

        line-height: 1.2;
        white-space: pre-line;
    }

    #title {
        font-size: 1.5rem;
    }

    #subtitle {
        font-size: 1rem;
    }

    .grid-item h2 {
        margin: 15px;
        font-size: 1.3rem;
    }

    .grid-item p {
        margin: 0 15px 20px 15px;
        line-height: 1.4;
        white-space: pre-line;
    }

}